*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: Arial;
}
body {
  background-color: hsl(240, 3%, 7%);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 1em;
  font-size: clamp(0.5rem, 2.5vmin, 1.5rem);
}
.keyboard {
  display: grid;
  grid-template-columns: repeat(20, minmax(auto, 1.25em));
  grid-auto-rows: 3em;
  gap: 0.25em;
  justify-content: center;
}
@media only screen and (max-width: 600px) {
  .keyboard {
    margin-bottom: 3.5em;
  }
}
.key {
  font-size: inherit;
  grid-column: span 2;
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(
    var(--hue, 200),
    var(--saturation, 1%),
    calc(var(--lightness-offset, 0%) + var(--lightness, 51%))
  );
  color: white;
  fill: white;
  text-transform: uppercase;
  border-radius: 0.25em;
  cursor: pointer;
  user-select: none;
}
.key.btn-lg {
  grid-column: span 3;
}

.key > svg {
  width: 1.75em;
  height: 1.75em;
}

.key:hover,
.key:focus {
  --lightness-offset: 10%;
}
.key.wrong {
  --lightness: 23%;
}

.key.wrong_location {
  --hue: 49;
  --saturation: 51%;
  --lightness: 47%;
}

.key.correct {
  --hue: 115;
  --saturation: 29%;
  --lightness: 43%;
}
.author {
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 100;
  border-top-left-radius: 5px;
  padding: 6px;
  border-top: 1px solid #efefef;
  border-left: 1px solid #efefef;
  background: #fff2ff;
  color: rgb(18, 89, 241);
  text-decoration: none;
}
.author img {
  max-width: 100%;
  border-radius: 100%;
  width: 22px;
  vertical-align: middle;
  object-fit: contain;
}
.author p {
  margin: 0;
  vertical-align: middle;
  display: inline;
  margin-left: 7px;
  font-weight: 500;
  font-size: 14px;
}
.guess-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  flex-grow: 1;
  grid-template-columns: repeat(5, 4em);
  grid-template-rows: repeat(6, 4em);
  gap: 0.25em;
  margin-bottom: 1em;
}
.tile {
  font-size: 2em;
  color: #fff2ff;
  border: 0.05em solid hsl(240, 2%, 23%);
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  transition: transform 250ms linear;
}
.tile[data-state="active"] {
  border-color: hsl(200, 1%, 34%);
}
.tile[data-state="wrong"] {
  border: none;
  background-color: hsl(240, 2%, 23%);
}
.tile[data-state="wrong_location"] {
  border: none;
  background-color: hsl(49, 51%, 47%);
}
.tile[data-state="correct"] {
  border: none;
  background-color: hsl(115, 29%, 43%);
}
.tile.shake {
  animation: shake 250ms ease-in-out;
}
.tile.dance {
  animation: dance 500ms ease-in-out;
}
.tile.flip {
  transform: rotateX(90deg);
}
@keyframes shake {
  10% {
    transform: translateX(-5%);
  }
  30% {
    transform: translateX(5%);
  }
  50% {
    transform: translateX(-7.5%);
  }
  70% {
    transform: translateX(7.5%);
  }
  90% {
    transform: translateX(5%);
  }
  100% {
    transform: translateX(0);
  }
}
.alert-container {
  position: fixed;
  top: 10vh;
  left: 50vw;
  transform: translateX(-50%);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.alert {
  pointer-events: none;
  background-color: hsl(204, 7%, 85%);
  padding: 0.75em;
  border-radius: 0.25em;
  opacity: 1;
  transition: opacity 500ms ease-in-out;
  margin-bottom: 0.5em;
}
.alert:last-child {
  margin-bottom: 0;
}
.alert.hide {
  opacity: 0;
}
@keyframes dance {
  20% {
    transform: translateY(-5%);
  }
  34% {
    transform: translateY(5%);
  }
  60% {
    transform: translateY(-7.5%);
  }
  70% {
    transform: translateY(7.5%);
  }
  80% {
    transform: translateY(5%);
  }

  100% {
    transform: translateY(0);
  }
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow-y: auto; /* Enable scroll if needed */
  background-color: hsl(240, 3%, 7%); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.modal-content {
  background-color: hsl(240, 3%, 7%);
  color: #fff2ff;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: rgb(228, 213, 213);
  text-decoration: none;
  cursor: pointer;
}
